{
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "never",
	"htmlWhitespaceSensitivity": "strict",
	"vueIndentScriptAndStyle": true,
	"endOfLine": "auto",
	"rangeStart": 0,
	"singleAttributePerLine": true,

	"plugins": ["prettier-plugin-organize-attributes"],
	"attributeSort": "ASC",
	"attributeGroups": [
		"^((v-bind)?:|v-)is$",
		"^v-(if|else-if|else|show|cloak)$",
		"^v-(once|pre|memo)$",
		"^#",
		"$DEFAULT",
		"^(v-)?slot$",
		"^v-for$",
		"^v-model$",
		"^v-bind$",
		"^v-html$",
		"^v-text$",
		"^v-(?!bind|on|html|text)",
		"^(v-bind)?:?id$",
		"^(v-bind)?:?key$",
		"^(v-bind)?:?ref$",
		"^((v-bind)?:)?(?!data-|v-|:|@|#)",
		"^((v-bind)?:)?data-",
		"^(v-bind)?:class$",
		"^v-on",
		"^class$",
		"^@"
	]
}
