body {
	/* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
	overflow-x: hidden;
	min-height: 100vh;
	/* If you want to change the site height you can remove overflow-y */
	/* pure-snow will automatically detect height of body tag */
	overflow-y: hidden;
	/* color: white; */
}
