.text-primaryDark_e {
	color: var(--q-primaryDark_e) !important;
}
// eBird 背景深色
.bg-primaryDark_e {
	background: var(--q-primaryDark_e) !important;
}

// eBird 淺色背景的標題字體色
.text-primary_e {
	color: var(--q-primary_e) !important;
}
.bg-primary_e {
	background: var(--q-primary_e) !important;
}
.text-primary-bg_e {
	color: var(--q-primary-bg_e) !important;
}
// eBird 淺色背景的按鈕背景色
.bg-primary-bg_e {
	background: var(--q-primary-bg_e) !important;
}

// eBird 深色背景的字體色
.text-primaryLight_e {
	color: var(--q-primaryLight_e) !important;
}
.bg-primaryLight_e {
	background: var(--q-primaryLight_e) !important;
}

// eBird 淺色背景的內容字體色
.text-secondaryDark_e {
	color: var(--q-secondaryDark_e) !important;
}
.bg-secondaryDark_e {
	background: var(--q-secondaryDark_e) !important;
}

// eBird 淺色背景的次要字體色
.text-secondary_e {
	color: var(--q-secondary_e) !important;
}
.bg-secondary_e {
	background: var(--q-secondary_e) !important;
}

// eBird 深色背景的次要字體色
.text-secondaryLight_e {
	color: var(--q-secondaryLight_e) !important;
}
.bg-secondaryLight_e {
	background: var(--q-secondaryLight_e) !important;
}

.text-accent-bg {
	color: var(--q-accent-bg) !important;
}
// eBird 淺色背景的按鈕背景色
.bg-accent-bg {
	background: var(--q-accent-bg) !important;
}
