/**
 * 亮暗模式
 */
// 淺色主題：字色
.text-lightText {
	color: var(--q-lightText) !important;
}
// 淺色主題：背景色
.bg-lightBg {
	background-color: var(--q-lightBg) !important;
}
// 主題按鈕：字色依據亮暗模式背景色
.text-lightBg {
	color: var(--q-lightBg) !important;
}
// 深色主題：字色
.text-darkText {
	color: var(--q-darkText) !important;
}

// 邊緣、邊界、分隔線用
.text-line {
	color: var(--q-line) !important;
}
.bg-line {
	background: var(--line) !important;
}

// 舊版紫嘯鶇主題色
.text-primaryOld {
	color: var(--q-primaryOld) !important;
}
.bg-primaryOld {
	background-color: var(--q-primaryOld) !important;
}

/**
 * Quasar Brand Colors
 * 速產範例
 */
// $custom-colors: (
// 	'primary': var(--q-primary),
// 	'primary2': var(--q-primary2),
// 	'primary3': var(--q-primary3),
// );

// @each $name, $value in $custom-colors {
// 	.text-#{$name} {
// 		color: #{$value} !important;
// 	}
// 	.bg-#{$name} {
// 		background-color: #{$value} !important;
// 	}
// }
