// 俗名字體
.comName-font {
	font-weight: 700;
	text-wrap: pretty;
	text-align: left;
}
// 學名字體
.sciName-font {
	font-style: italic;
	text-wrap: pretty;
	text-align: left;
}

// 國家國旗套件
.flag {
	margin: 0 !important;
}

/**
 * Google
 */
.g-border-radius {
	border-radius: $g-border-radius;
}
