/**
 * 來源：https://ithelp.ithome.com.tw/articles/10301528
 * Only for defining SCSS Variables, @mixin and @extend...
 */

@mixin border($thick: 0.0625rem, $style: solid) {
	border: $thick $style var(--q-line_e);
}

/**
 * 社群媒體圖示元件
 * Hover 顏色動畫
 */
@mixin socialMediaFill($fill) {
	transition: fill 0.3s;

	&:is(.lineSM) path {
		transition: fill 0.3s;
	}

	&:hover {
		fill: $fill;

		&:is(.lineSM) path {
			fill: $fill;
		}
	}
}

/**
 * Google
 */
$g-border-radius: 0.5rem;

%g-map-toolbtn {
	border: 0.0625rem solid transparent;
	border-radius: $g-border-radius;
	box-shadow:
		0 0.0625rem 0.3125rem rgba(0, 0, 0, 0.2),
		0 0.125rem 0.125rem rgba(0, 0, 0, 0.14),
		0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.12);
}
