// Vue Leaflet
.leaflet-container {
	font-family: 'GenSenRounded-R', Georgia, serif, 'Roboto', '-apple-system', 'Helvetica Neue',
		Helvetica, Arial, sans-serif !important;

	.leaflet-control-container {
		.leaflet-bottom.leaflet-left {
			display: flex;
			flex-direction: column;

			.leaflet-control-layers {
				@extend %g-map-toolbtn;
				order: 1;
				align-self: flex-start;
			}

			.leaflet-control-scale {
				order: 2;
			}
		}

		.leaflet-bottom.leaflet-right {
			.leaflet-control-zoom {
				@extend %g-map-toolbtn;

				.leaflet-control-zoom-in {
					cursor: pointer;
					border-top-left-radius: $g-border-radius;
					border-top-right-radius: $g-border-radius;
				}
				.leaflet-control-zoom-out {
					cursor: pointer;
					border-bottom-left-radius: $g-border-radius;
					border-bottom-right-radius: $g-border-radius;
				}
			}
		}
	}
}

// Leaflet Popup
.leaflet-popup {
	.leaflet-popup-content-wrapper {
		.leaflet-popup-content {
			margin: 0;
			min-width: 200px !important;
			width: unset !important;
		}
	}
}
