// Vue Leaflet
.leaflet-container {
	.leaflet-control-container {
		.leaflet-bottom.leaflet-right {
			.leaflet-control-attribution:nth-child(2) {
				display: none;
			}
		}
	}
}

// Leaflet Popup
.leaflet-popup {
	.leaflet-popup-content-wrapper {
		.leaflet-popup-content {
			margin: 0;
			width: unset !important;
		}
	}
}
