// Vue Leaflet
.leaflet-container {
	font-family: 'GenSenRounded-R', Georgia, serif, 'Roboto', '-apple-system', 'Helvetica Neue',
		Helvetica, Arial, sans-serif !important;

	.leaflet-control-container {
		.leaflet-bottom.leaflet-right {
			.leaflet-control-attribution:nth-child(2) {
				display: none;
			}
		}
	}
}

// Leaflet Popup
.leaflet-popup {
	.leaflet-popup-content-wrapper {
		.leaflet-popup-content {
			margin: 0;
			width: 200px !important;
		}
	}
}
