@import './tailwind.css';

/**
 * https://wumanzoo.com/noto-sans-noto-serif-fonts/
 * 源泉圓體
 */
@font-face {
	font-family: 'GenSenRounded-R';
	src: local('GenSenRounded-R'), url('./../assets/fonts/GenSen_Rounded/GenSenRounded-R.ttf');
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	font-family: 'GenSenRounded-R', Georgia, serif, 'Roboto', '-apple-system', 'Helvetica Neue',
		Helvetica, Arial, sans-serif !important;
	font-size: 1rem !important;
	font-weight: 400;
	color: var(--q-secondaryDark_e);
	background: #f8f8f8;
	text-rendering: optimizeLegibility;
}

#app {
	width: 100%;
}
