// 與 ModeEnum 同步變數名稱
$LIGHT: 'light';
$DARK: 'dark';

$light-bg-color: white;
$dark-bg-color: $dark;
/**
 * 亮暗模式樣式方法
 */
@mixin light-style {
	color: var(--q-secondaryDark_e);
	background-color: $light-bg-color;
}
@mixin dark-style {
	color: white;
	background-color: $dark-bg-color;
}

@mixin get-mode-style($mode) {
	@if $mode == $LIGHT {
		@include light-style;
	} @else if $mode == $DARK {
		@include dark-style;
	}
}
@function get-mode-bg-color($mode) {
	@if $mode == $LIGHT {
		@return $light-bg-color;
	} @else if $mode == $DARK {
		@return $dark-bg-color;
	}
}

$mode-options: $LIGHT, $DARK;
@each $mode in $mode-options {
	[data-mode='#{$mode}'] {
		/**
		 * Leaflet
		 */
		// 圖層
		.leaflet-control-layers {
			@include get-mode-style($mode);
		}
		// 比例尺
		.leaflet-control-scale-line {
			@include get-mode-style($mode);
			background: rgba(get-mode-bg-color($mode), 0.8);
		}
		// 縮放
		.leaflet-control-zoom a {
			@include get-mode-style($mode);
		}
		// Attribution
		.leaflet-control-attribution {
			@include get-mode-style($mode);
			background: rgba(get-mode-bg-color($mode), 0.8) !important;
		}
	}
}
