$primary   : #36824b; // eBird 主題色
$secondary : #40718f; // eBird 字體淺色
$positive  : #36824b; // #開始
$info      : #40718f; // #更多相關資訊
$warning   : #bd580a;
$negative  : #b31b1b; // #捐款

$accent    : #9C27B0;

$dark      : #2e261f; // eBird 字體黑色
