$primary   : #4CA800; // eBird 主題色
$secondary : #0070b3;
$positive  : #228000;
$info      : #007bc2;
$warning   : #bd580a;
$negative  : #C10015;

$accent    : #9C27B0;

$dark      : #1D1D1D;
