// Layout Header 選單
// 電腦版
.q-tabs {
	overflow-x: auto;

	.q-tabs__content {
		overflow: auto;
	}

	&.layoutHeaderTabs {
		.q-tab {
			&.q-router-link--active {
				color: $primary;
			}

			.q-tab__content {
				.q-tab__label {
					font-weight: 700;
				}
			}
		}
	}
}

// 手機版
.q-list {
	&.layoutMenuList {
		.q-item {
			&.q-item--active {
				color: $primary;
				border-left: 0.1875rem solid $primary;
			}

			.q-item__section--main {
				font-weight: 700;
			}
		}
	}
}

// Layout 功能按鈕集
// 電腦版
.q-fab {
	&#layoutFeatureButton {
		.q-fab__actions {
			background-color: white;
		}
	}
}

.q-scrollarea {
	&.cuScrollArea {
		.q-scrollarea__content {
			padding: 5%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}
