/**
 * 品牌色 Brand Colors
 */
$primary: #1c1bd6; // 紫嘯鶇主題色。主色。用於核心元素，如主要的按鈕、導航欄、選中狀態、進度條、App Bar 背景等。它代表您的網站品牌。
$secondary: #36824b; // eBird 主題色。輔助色。用於次要操作或內容區塊，特別適合與 eBird 網站主題（觀鳥/自然）相關的元件，如地圖圖標、鳥種分類標籤等。它提供了與主色的對比和調和。
$accent: #ffc94d; // 點綴色/強調色。使用與主色對比強烈的顏色（例如亮金色），用於吸引用戶注意的小細節或互動元素，例如：新通知標記、特定數據高亮等。
$dark: #1d1d1d; // 深色。用於深色主題下的背景、文本、深色卡片背景等。
$dark-page: #121212; // 深色頁面背景。用於深色主題模式下的頁面主背景。

/**
 * 功能色 Contextual Colors
 */
$positive: #21ba45; // 成功/正確。用於提交成功提示、表單驗證通過、成功操作按鈕等。
$negative: #c10015; // 錯誤/危險。用於錯誤提示、刪除操作、表單驗證失敗等。
$info: #31ccec; // 資訊/通知。高亮青色。用於一般性通知、提示信息、無害的狀態指示。
$warning: #f2c037; // 警告/注意。沉穩琥珀色。用於需要用戶特別留意的警告信息。
