// eBird 深色背景
.bg-primaryDark_e {
    background: var(--q-bg-primaryDark_ebird) !important;
}
// eBird 淺色字體
.text-primary_e {
    color: var(--q-text-primary_ebird) !important;
}
// eBird 深色字體
.text-primaryDark_e {
    color: var(--q-text-primaryDark_ebird) !important;
}

// Layout Header 選單
.q-tabs {
    overflow-x: auto;

    &.layoutHeaderTabs {
        .q-tab {
            &.rareBirdsTab {
                color: $negative;
            }

            .q-tab__content {
                .q-tab__label {
                    font-weight: 700;
                    font-size: 17px;
                }
            }
        }
    }
}
